<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">
        <h1>
            TODO Web App
        </h1>
        <form action="/create-task" method="POST">
            <div>
                <label for="fdesc">Description</label>
                <input type="text" name="description" placeholder="What task you need to do ?" id="fdesc" required>
            </div>
            <div>
                <label for="fcateg">Category</label>
                <select name="category" id="fcategory">
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="School">School</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div>
                <label for="fdate">Due Date</label>
                <input type="date" name="dueDate" id="fdate">
            </div>
        
            <button type="submit"><i class="fa fa-calendar-plus-o"></i>
                ADD TASK</button>
        </form>

        <div class="task-list-container">
            <ul>
                <% for(let i = 0; i < todo_list.length; i++) { %>
                    <% let t = todo_list[i] %>
                    <li class="task-item">
                        <div class="t-description"> 
                            <span>
                                <input type="checkbox" name="<%= t._id %>" value="">
                            </span>
                            <span>
                                <%= t.description %>
                            </span>
                        </div>
                        <div>
                            <span>
                                <%= t.dueDate.toISOString().substr(0,10) %>
                            </span>
                            <span class="t-category <%= t.category.toLowerCase() %>">
                                <%= t.category %>
                            </span>
                        </div>
                    </li>
                <% } %>
            </ul>
            
        </div>
    </div>


</body>
</html>